.slider {
  height: 90vh !important;
}

.slider a.previousButton,
.slider a.nextButton {
  display: none !important;
}

.accordion__button {
  background-color: #6d0a23 !important;
  color: #f9f9f9 !important;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover {
  background-color: rgba(177, 32, 68, 1) !important;
}

.close {
  font-size: 2.4rem !important;
}

.modal-header {
  padding: 0;
  border-bottom: none;
}
